In [65]:
import pandas as pd

data = pd.read_excel (r'/home/simplon/Documents/Cours hebdomadaire/Semaine 4/Python/chomage_zone.xls', sheet_name=1, skiprows=[0,1,2,3,4],header=0)
print(data.head)

<bound method NDFrame.head of                                                 ZE2010           LIBZE2010  \
0                                                 0050      Mont-de-Marsan
1                                                 0051             Alençon
2                                                 0052       Cosne-Clamecy
3                                                 0053               Mâcon
4                                                 0054    Nogent-le-Rotrou
..                                                 ...                 ...
300                                               9404              Bastia
301                                               9405  Calvi-L'Île-Rousse
302                                               9406               Corte
303                                               9407  Ghisonaccia-Aléria
304  Source : Insee, Estimations de taux de chômage...                 NaN

      REG         LIBREG  2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  \
0     0.0  interrégional      6.0      6.1      6.0      6.3      6.4
1     0.0  interrégional      7.2      7.5      7.2      7.6      7.7
2     0.0  interrégional      7.5      7.6      7.4      7.8      8.0
3     0.0  interrégional      5.3      5.3      5.2      5.3      5.4
4     0.0  interrégional      5.9      6.3      6.4      7.0      7.3
..    ...            ...      ...      ...      ...      ...      ...
300  94.0          Corse      9.2      8.9      8.9      9.3      9.4
301  94.0          Corse     11.7     11.4     11.2     11.4     11.2
302  94.0          Corse      8.3      7.6      8.2      8.1      8.0
303  94.0          Corse      9.6      8.8      9.0      9.4      9.6
304   NaN            NaN      NaN      NaN      NaN      NaN      NaN

     2004-T2  ...  2017-T4  2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  \
0        6.2  ...      7.3      7.4      7.1      7.0      6.7      6.8
1        7.4  ...      8.3      8.6      8.4      8.4      8.1      8.1
2        7.7  ...      8.1      8.3      8.1      7.9      7.5      7.5
3        5.4  ...      6.4      6.5      6.5      6.4      6.3      6.4
4        7.2  ...      8.1      8.3      8.1      8.0      7.9      7.9
..       ...  ...      ...      ...      ...      ...      ...      ...
300      9.3  ...      9.7     10.1      9.7      9.4      9.2      9.2
301     11.5  ...     11.6     12.5     12.2     11.9     11.4     11.6
302      8.0  ...      8.5      8.9      8.9      8.6      7.8      8.2
303      9.7  ...     10.0     10.6     10.4     10.1      9.9     10.0
304      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN

     2019-T2  2019-T3  2019-T4  2020-T1
0        6.7      6.7      6.5      6.1
1        7.9      7.9      7.8      7.4
2        7.2      7.4      7.2      6.8
3        6.3      6.3      6.1      5.9
4        7.8      8.0      7.4      7.1
..       ...      ...      ...      ...
300      8.8      8.5      8.2      7.9
301     11.0     10.8     10.5     10.1
302      7.6      7.3      7.1      7.3
303      9.4      9.4      9.0      8.6
304      NaN      NaN      NaN      NaN

[305 rows x 73 columns]>

In [28]:
print(data.columns)

Index(['ZE2010', 'LIBZE2010', 'REG', 'LIBREG', '2003-T1', '2003-T2', '2003-T3',
       '2003-T4', '2004-T1', '2004-T2', '2004-T3', '2004-T4', '2005-T1',
       '2005-T2', '2005-T3', '2005-T4', '2006-T1', '2006-T2', '2006-T3',
       '2006-T4', '2007-T1', '2007-T2', '2007-T3', '2007-T4', '2008-T1',
       '2008-T2', '2008-T3', '2008-T4', '2009-T1', '2009-T2', '2009-T3',
       '2009-T4', '2010-T1', '2010-T2', '2010-T3', '2010-T4', '2011-T1',
       '2011-T2', '2011-T3', '2011-T4', '2012-T1', '2012-T2', '2012-T3',
       '2012-T4', '2013-T1', '2013-T2', '2013-T3', '2013-T4', '2014-T1',
       '2014-T2', '2014-T3', '2014-T4', '2015-T1', '2015-T2', '2015-T3',
       '2015-T4', '2016-T1', '2016-T2', '2016-T3', '2016-T4', '2017-T1',
       '2017-T2', '2017-T3', '2017-T4', '2018-T1', '2018-T2', '2018-T3',
       '2018-T4', '2019-T1', '2019-T2', '2019-T3', '2019-T4', '2020-T1'],
      dtype='object')

In [29]:
# Utiliser la méthode Series.value_counts() pour afficher le décompte du nombre de zones d’emploies par département.

# Creating the Series 
sr =data['REG']

# Print the series 
print(sr)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
300    94.0
301    94.0
302    94.0
303    94.0
304     NaN
Name: REG, Length: 305, dtype: float64

In [30]:
# find the value counts 
sr.value_counts()

84.0    35
75.0    31
44.0    31
76.0    30
32.0    26
27.0    23
28.0    20
52.0    19
24.0    19
11.0    19
53.0    18
93.0    17
0.0      9
94.0     7
Name: REG, dtype: int64

In [31]:
# Filtrer et garder toute les ligne du dataframe pour lesquelles le département est « Provence-Alpes-Côte d'Azur »

print(data.loc[data['LIBREG']=="Provence-Alpes-Côte d'Azur"])

    ZE2010                 LIBZE2010   REG                      LIBREG  \
280   9301           Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur
281   9302                  Manosque  93.0  Provence-Alpes-Côte d'Azur
282   9303                  Briançon  93.0  Provence-Alpes-Côte d'Azur
283   9304                       Gap  93.0  Provence-Alpes-Côte d'Azur
284   9305            Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur
285   9306  Menton Vallée de la Roya  93.0  Provence-Alpes-Côte d'Azur
286   9307                      Nice  93.0  Provence-Alpes-Côte d'Azur
287   9308           Aix-en-Provence  93.0  Provence-Alpes-Côte d'Azur
288   9309                     Arles  93.0  Provence-Alpes-Côte d'Azur
289   9310         Marseille-Aubagne  93.0  Provence-Alpes-Côte d'Azur
290   9311          Istres-Martigues  93.0  Provence-Alpes-Côte d'Azur
291   9312         Salon-de-Provence  93.0  Provence-Alpes-Côte d'Azur
292   9313                Draguignan  93.0  Provence-Alpes-Côte d'Azur
293   9314      Fréjus-Saint Raphaël  93.0  Provence-Alpes-Côte d'Azur
294   9315                    Toulon  93.0  Provence-Alpes-Côte d'Azur
295   9316             Cavaillon-Apt  93.0  Provence-Alpes-Côte d'Azur
296   9317                    Orange  93.0  Provence-Alpes-Côte d'Azur

     2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  \
280      7.5      7.6      7.2      7.6      7.7      7.5  ...     10.7
281     10.0     10.1      9.8      9.8      9.9      9.7  ...     11.2
282      7.0      7.1      7.0      7.4      7.4      7.4  ...      8.2
283      7.0      7.0      6.9      7.1      7.3      7.1  ...      8.2
284      9.5      9.7      9.4      9.5      9.5      9.3  ...      9.8
285      6.8      6.9      6.7      6.9      6.9      6.7  ...      8.3
286      8.1      8.1      8.0      8.3      8.3      8.1  ...      9.6
287      9.2      9.4      9.2      9.3      9.4      9.0  ...      8.4
288     11.1     11.4     11.1     11.4     11.5     11.0  ...     12.4
289     11.6     11.8     11.4     11.6     11.7     11.3  ...     11.5
290     10.3     10.5     10.3     10.5     10.5     10.2  ...     10.8
291     10.7     10.8     10.4     10.6     10.7     10.3  ...     10.4
292     11.4     11.4     11.2     11.4     11.3     11.1  ...     11.6
293     10.0     10.1     10.1     10.6     10.9     11.0  ...     11.7
294     10.6     10.6     10.3     10.5     10.6     10.4  ...      9.5
295      9.3      9.2      8.9      9.1      9.1      9.0  ...     11.9
296      9.7      9.6      9.2      9.3      9.4      9.3  ...     12.0

     2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  \
280     11.0     10.7     10.6     10.4     10.3     10.0      9.8      9.4
281     11.6     11.4     11.1     10.9     11.0     10.6     10.5     10.0
282      8.4      8.3      8.4      8.2      8.3      8.3      8.0      7.9
283      8.3      8.3      8.2      8.0      8.0      7.7      7.5      7.2
284     10.1      9.9      9.7      9.5      9.5      9.1      9.1      8.7
285      8.4      8.1      7.8      7.6      7.6      7.3      7.2      6.9
286      9.8      9.6      9.5      9.2      9.2      8.9      8.9      8.4
287      8.6      8.5      8.3      8.1      8.0      7.7      7.7      7.3
288     12.5     12.5     12.3     11.7     11.8     11.4     11.4     11.0
289     11.9     11.7     11.6     11.2     11.2     10.8     10.7     10.3
290     11.1     10.8     10.7     10.2     10.3     10.1      9.9      9.6
291     10.6     10.4     10.3     10.0     10.0      9.7      9.5      9.1
292     12.0     11.8     11.5     11.2     11.2     10.9     10.8     10.2
293     12.2     11.9     11.7     11.5     11.5     11.1     11.0     10.5
294      9.7      9.6      9.5      9.3      9.3      8.9      8.8      8.4
295     12.1     11.9     11.8     11.4     11.7     11.2     11.2     10.7
296     12.2     12.1     12.0     11.7     11.6     11.3     11.2     10.5

     2020-T1
280      9.1
281      9.6
282      7.5
283      7.0
284      8.5
285      6.7
286      8.2
287      7.0
288     10.7
289      9.9
290      9.2
291      8.7
292      9.8
293     10.3
294      8.1
295     10.3
296     10.1

[17 rows x 73 columns]

In [32]:
# Assigner ce nouveau dataframe à data2 et affiché le
data2 = data.loc[data['LIBREG']=="Provence-Alpes-Côte d'Azur"]

In [33]:
# Utiliser la méthode Series.value_counts() pour afficher combien de fois une zone d’emploie apparait en « Provence-Alpes-Côte d'Azur »

# Creating the Series 
data2 = data.loc[data['REG']== 93]

# Print the series 
print(data2)

    ZE2010                 LIBZE2010   REG                      LIBREG  \
280   9301           Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur
281   9302                  Manosque  93.0  Provence-Alpes-Côte d'Azur
282   9303                  Briançon  93.0  Provence-Alpes-Côte d'Azur
283   9304                       Gap  93.0  Provence-Alpes-Côte d'Azur
284   9305            Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur
285   9306  Menton Vallée de la Roya  93.0  Provence-Alpes-Côte d'Azur
286   9307                      Nice  93.0  Provence-Alpes-Côte d'Azur
287   9308           Aix-en-Provence  93.0  Provence-Alpes-Côte d'Azur
288   9309                     Arles  93.0  Provence-Alpes-Côte d'Azur
289   9310         Marseille-Aubagne  93.0  Provence-Alpes-Côte d'Azur
290   9311          Istres-Martigues  93.0  Provence-Alpes-Côte d'Azur
291   9312         Salon-de-Provence  93.0  Provence-Alpes-Côte d'Azur
292   9313                Draguignan  93.0  Provence-Alpes-Côte d'Azur
293   9314      Fréjus-Saint Raphaël  93.0  Provence-Alpes-Côte d'Azur
294   9315                    Toulon  93.0  Provence-Alpes-Côte d'Azur
295   9316             Cavaillon-Apt  93.0  Provence-Alpes-Côte d'Azur
296   9317                    Orange  93.0  Provence-Alpes-Côte d'Azur

     2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  \
280      7.5      7.6      7.2      7.6      7.7      7.5  ...     10.7
281     10.0     10.1      9.8      9.8      9.9      9.7  ...     11.2
282      7.0      7.1      7.0      7.4      7.4      7.4  ...      8.2
283      7.0      7.0      6.9      7.1      7.3      7.1  ...      8.2
284      9.5      9.7      9.4      9.5      9.5      9.3  ...      9.8
285      6.8      6.9      6.7      6.9      6.9      6.7  ...      8.3
286      8.1      8.1      8.0      8.3      8.3      8.1  ...      9.6
287      9.2      9.4      9.2      9.3      9.4      9.0  ...      8.4
288     11.1     11.4     11.1     11.4     11.5     11.0  ...     12.4
289     11.6     11.8     11.4     11.6     11.7     11.3  ...     11.5
290     10.3     10.5     10.3     10.5     10.5     10.2  ...     10.8
291     10.7     10.8     10.4     10.6     10.7     10.3  ...     10.4
292     11.4     11.4     11.2     11.4     11.3     11.1  ...     11.6
293     10.0     10.1     10.1     10.6     10.9     11.0  ...     11.7
294     10.6     10.6     10.3     10.5     10.6     10.4  ...      9.5
295      9.3      9.2      8.9      9.1      9.1      9.0  ...     11.9
296      9.7      9.6      9.2      9.3      9.4      9.3  ...     12.0

     2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  \
280     11.0     10.7     10.6     10.4     10.3     10.0      9.8      9.4
281     11.6     11.4     11.1     10.9     11.0     10.6     10.5     10.0
282      8.4      8.3      8.4      8.2      8.3      8.3      8.0      7.9
283      8.3      8.3      8.2      8.0      8.0      7.7      7.5      7.2
284     10.1      9.9      9.7      9.5      9.5      9.1      9.1      8.7
285      8.4      8.1      7.8      7.6      7.6      7.3      7.2      6.9
286      9.8      9.6      9.5      9.2      9.2      8.9      8.9      8.4
287      8.6      8.5      8.3      8.1      8.0      7.7      7.7      7.3
288     12.5     12.5     12.3     11.7     11.8     11.4     11.4     11.0
289     11.9     11.7     11.6     11.2     11.2     10.8     10.7     10.3
290     11.1     10.8     10.7     10.2     10.3     10.1      9.9      9.6
291     10.6     10.4     10.3     10.0     10.0      9.7      9.5      9.1
292     12.0     11.8     11.5     11.2     11.2     10.9     10.8     10.2
293     12.2     11.9     11.7     11.5     11.5     11.1     11.0     10.5
294      9.7      9.6      9.5      9.3      9.3      8.9      8.8      8.4
295     12.1     11.9     11.8     11.4     11.7     11.2     11.2     10.7
296     12.2     12.1     12.0     11.7     11.6     11.3     11.2     10.5

     2020-T1
280      9.1
281      9.6
282      7.5
283      7.0
284      8.5
285      6.7
286      8.2
287      7.0
288     10.7
289      9.9
290      9.2
291      8.7
292      9.8
293     10.3
294      8.1
295     10.3
296     10.1

[17 rows x 73 columns]

In [34]:
# find the value counts 
sr.value_counts()

84.0    35
75.0    31
44.0    31
76.0    30
32.0    26
27.0    23
28.0    20
52.0    19
24.0    19
11.0    19
53.0    18
93.0    17
0.0      9
94.0     7
Name: REG, dtype: int64

In [35]:
# Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre 2020 est supérieur à 7.1
# Assigner le résultat à la variable « data_t1_2020 »

# Dataframe
T20 = data2['2020-T1']
data_t1_2020 = pd.eval("T20 > 7.1")

print(data_t1_2020)

280     True
281     True
282     True
283    False
284     True
285    False
286     True
287    False
288     True
289     True
290     True
291     True
292     True
293     True
294     True
295     True
296     True
dtype: bool

In [37]:
# Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre 2018/19/20 est supérieur à 7.1

T18 = data2['2018-T1']
T19 = data2['2019-T1']
T20 = data2['2020-T1']

data_t1_2018 = pd.eval("T18 > 7.1")
data_t1_2019 = pd.eval("T19 > 7.1")
data_t1_2020 = pd.eval("T20 > 7.1")

print(data_t1_2018)
print(data_t1_2019)
print(data_t1_2020)

280    True
281    True
282    True
283    True
284    True
285    True
286    True
287    True
288    True
289    True
290    True
291    True
292    True
293    True
294    True
295    True
296    True
dtype: bool
280    True
281    True
282    True
283    True
284    True
285    True
286    True
287    True
288    True
289    True
290    True
291    True
292    True
293    True
294    True
295    True
296    True
dtype: bool
280     True
281     True
282     True
283    False
284     True
285    False
286     True
287    False
288     True
289     True
290     True
291     True
292     True
293     True
294     True
295     True
296     True
dtype: bool

In [41]:
# Combiner les trois objets Series avec l’operateur « & » et assigné le résultat à la variable « data_7_1 »

data_7_1 = data_t1_2020 & data_t1_2019 & data_t1_2018

print(data2)

    ZE2010                 LIBZE2010   REG                      LIBREG  \
280   9301           Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur
281   9302                  Manosque  93.0  Provence-Alpes-Côte d'Azur
282   9303                  Briançon  93.0  Provence-Alpes-Côte d'Azur
283   9304                       Gap  93.0  Provence-Alpes-Côte d'Azur
284   9305            Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur
285   9306  Menton Vallée de la Roya  93.0  Provence-Alpes-Côte d'Azur
286   9307                      Nice  93.0  Provence-Alpes-Côte d'Azur
287   9308           Aix-en-Provence  93.0  Provence-Alpes-Côte d'Azur
288   9309                     Arles  93.0  Provence-Alpes-Côte d'Azur
289   9310         Marseille-Aubagne  93.0  Provence-Alpes-Côte d'Azur
290   9311          Istres-Martigues  93.0  Provence-Alpes-Côte d'Azur
291   9312         Salon-de-Provence  93.0  Provence-Alpes-Côte d'Azur
292   9313                Draguignan  93.0  Provence-Alpes-Côte d'Azur
293   9314      Fréjus-Saint Raphaël  93.0  Provence-Alpes-Côte d'Azur
294   9315                    Toulon  93.0  Provence-Alpes-Côte d'Azur
295   9316             Cavaillon-Apt  93.0  Provence-Alpes-Côte d'Azur
296   9317                    Orange  93.0  Provence-Alpes-Côte d'Azur

     2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  \
280      7.5      7.6      7.2      7.6      7.7      7.5  ...     10.7
281     10.0     10.1      9.8      9.8      9.9      9.7  ...     11.2
282      7.0      7.1      7.0      7.4      7.4      7.4  ...      8.2
283      7.0      7.0      6.9      7.1      7.3      7.1  ...      8.2
284      9.5      9.7      9.4      9.5      9.5      9.3  ...      9.8
285      6.8      6.9      6.7      6.9      6.9      6.7  ...      8.3
286      8.1      8.1      8.0      8.3      8.3      8.1  ...      9.6
287      9.2      9.4      9.2      9.3      9.4      9.0  ...      8.4
288     11.1     11.4     11.1     11.4     11.5     11.0  ...     12.4
289     11.6     11.8     11.4     11.6     11.7     11.3  ...     11.5
290     10.3     10.5     10.3     10.5     10.5     10.2  ...     10.8
291     10.7     10.8     10.4     10.6     10.7     10.3  ...     10.4
292     11.4     11.4     11.2     11.4     11.3     11.1  ...     11.6
293     10.0     10.1     10.1     10.6     10.9     11.0  ...     11.7
294     10.6     10.6     10.3     10.5     10.6     10.4  ...      9.5
295      9.3      9.2      8.9      9.1      9.1      9.0  ...     11.9
296      9.7      9.6      9.2      9.3      9.4      9.3  ...     12.0

     2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  \
280     11.0     10.7     10.6     10.4     10.3     10.0      9.8      9.4
281     11.6     11.4     11.1     10.9     11.0     10.6     10.5     10.0
282      8.4      8.3      8.4      8.2      8.3      8.3      8.0      7.9
283      8.3      8.3      8.2      8.0      8.0      7.7      7.5      7.2
284     10.1      9.9      9.7      9.5      9.5      9.1      9.1      8.7
285      8.4      8.1      7.8      7.6      7.6      7.3      7.2      6.9
286      9.8      9.6      9.5      9.2      9.2      8.9      8.9      8.4
287      8.6      8.5      8.3      8.1      8.0      7.7      7.7      7.3
288     12.5     12.5     12.3     11.7     11.8     11.4     11.4     11.0
289     11.9     11.7     11.6     11.2     11.2     10.8     10.7     10.3
290     11.1     10.8     10.7     10.2     10.3     10.1      9.9      9.6
291     10.6     10.4     10.3     10.0     10.0      9.7      9.5      9.1
292     12.0     11.8     11.5     11.2     11.2     10.9     10.8     10.2
293     12.2     11.9     11.7     11.5     11.5     11.1     11.0     10.5
294      9.7      9.6      9.5      9.3      9.3      8.9      8.8      8.4
295     12.1     11.9     11.8     11.4     11.7     11.2     11.2     10.7
296     12.2     12.1     12.0     11.7     11.6     11.3     11.2     10.5

     2020-T1
280      9.1
281      9.6
282      7.5
283      7.0
284      8.5
285      6.7
286      8.2
287      7.0
288     10.7
289      9.9
290      9.2
291      8.7
292      9.8
293     10.3
294      8.1
295     10.3
296     10.1

[17 rows x 73 columns]

In [52]:
# Data_7_1 est une liste. Assigné là à un dataframe dont le nom de colonne sera « booleen »

df = pd.DataFrame(data_7_1, columns=["booleen"]) 

print(df)

     booleen
280     True
281     True
282     True
283    False
284     True
285    False
286     True
287    False
288     True
289     True
290     True
291     True
292     True
293     True
294     True
295     True
296     True

In [55]:
# Afficher les valeurs unique et combien de fois elles apparaissent dans la colonne
sr = df['booleen']

sr.value_counts()

True     14
False     3
Name: booleen, dtype: int64

In [63]:
# Charger le fichier « pole_emploi.xlsx » après l’avoir ouvert et visualiser et l’assigner à la variable « p_emploi ».

p_emploi = pd.read_excel (r'/home/simplon/Documents/Cours hebdomadaire/Semaine 4/Python/pole_emploi.xlsx', sheet_name=0, skiprows=[0,1,2],header=0)
print(data.head)

<bound method NDFrame.head of     Code                     Libellé  Pôle emploi 2018
0      1                  Guadeloupe                17
1      2                  Martinique                11
2      3                      Guyane                 8
3      4                  La Réunion                17
4      6                     Mayotte                 3
5     11               Île-de-France               164
6     24         Centre-Val de Loire               116
7     27     Bourgogne-Franche-Comté               165
8     28                   Normandie               145
9     32             Hauts-de-France               171
10    44                   Grand Est               238
11    52            Pays de la Loire               104
12    53                    Bretagne                91
13    75          Nouvelle-Aquitaine               251
14    76                   Occitanie               262
15    84        Auvergne-Rhône-Alpes               294
16    93  Provence-Alpes-Côte d'Azur               145
17    94                       Corse                31>

In [67]:
# Joindre les data et p_emploi au seins d’un seul et unique dataframe en faisant correspondre les régions par leur codes. 
# Utiliser pd.merge() pour réaliser cette jointure.

jointures = pd.merge(left=data, right=p_emploi, how='inner', left_on='REG', right_on='Code')

print(jointures)

    ZE2010           LIBZE2010   REG                LIBREG  2003-T1  2003-T2  \
0    0060*       Saint-Étienne  84.0  Auvergne-Rhône-Alpes      8.0      8.2
1     8201   Ambérieu-en-Bugey  84.0  Auvergne-Rhône-Alpes      5.7      5.8
2     8202     Bourg-en-Bresse  84.0  Auvergne-Rhône-Alpes      4.5      4.7
3     8203             Oyonnax  84.0  Auvergne-Rhône-Alpes      6.8      6.9
4     8204             Annonay  84.0  Auvergne-Rhône-Alpes      7.6      8.0
..     ...                 ...   ...                   ...      ...      ...
290   9403   Sartène-Propriano  94.0                 Corse     10.7     10.7
291   9404              Bastia  94.0                 Corse      9.2      8.9
292   9405  Calvi-L'Île-Rousse  94.0                 Corse     11.7     11.4
293   9406               Corte  94.0                 Corse      8.3      7.6
294   9407  Ghisonaccia-Aléria  94.0                 Corse      9.6      8.8

     2003-T3  2003-T4  2004-T1  2004-T2  ...  2018-T3  2018-T4  2019-T1  \
0        8.1      8.4      8.6      8.3  ...      8.7      8.3      8.4
1        5.6      6.0      6.2      6.0  ...      6.6      6.2      6.2
2        4.6      4.8      4.9      4.9  ...      6.7      6.4      6.4
3        7.2      7.7      7.8      7.5  ...      7.9      7.6      7.6
4        8.0      8.1      8.1      7.8  ...      8.6      8.2      8.2
..       ...      ...      ...      ...  ...      ...      ...      ...
290     10.4     10.0     10.5     10.4  ...     10.0     10.1     10.0
291      8.9      9.3      9.4      9.3  ...      9.4      9.2      9.2
292     11.2     11.4     11.2     11.5  ...     11.9     11.4     11.6
293      8.2      8.1      8.0      8.0  ...      8.6      7.8      8.2
294      9.0      9.4      9.6      9.7  ...     10.1      9.9     10.0

     2019-T2  2019-T3  2019-T4  2020-T1  Code               Libellé  \
0        8.1      8.3      8.0      7.7    84  Auvergne-Rhône-Alpes
1        6.1      6.3      6.0      5.8    84  Auvergne-Rhône-Alpes
2        6.3      6.5      6.2      5.9    84  Auvergne-Rhône-Alpes
3        7.4      7.4      7.3      7.2    84  Auvergne-Rhône-Alpes
4        7.9      7.9      7.7      7.3    84  Auvergne-Rhône-Alpes
..       ...      ...      ...      ...   ...                   ...
290      9.5      9.6      9.5      9.4    94                 Corse
291      8.8      8.5      8.2      7.9    94                 Corse
292     11.0     10.8     10.5     10.1    94                 Corse
293      7.6      7.3      7.1      7.3    94                 Corse
294      9.4      9.4      9.0      8.6    94                 Corse

     Pôle emploi 2018
0                 294
1                 294
2                 294
3                 294
4                 294
..                ...
290                31
291                31
292                31
293                31
294                31

[295 rows x 76 columns]

In [66]:
# Joindre les data et p_emploi au seins d’un seul et unique dataframe en faisant correspondre les régions par leur codes. 
# Utiliser pd.merge() pour réaliser cette jointure.

jointures = pd.merge
print((left=data, right=p_emploi, how='inner', left_on='REG', right_on='Code'))

    ZE2010           LIBZE2010   REG                LIBREG  2003-T1  2003-T2  \
0    0060*       Saint-Étienne  84.0  Auvergne-Rhône-Alpes      8.0      8.2
1     8201   Ambérieu-en-Bugey  84.0  Auvergne-Rhône-Alpes      5.7      5.8
2     8202     Bourg-en-Bresse  84.0  Auvergne-Rhône-Alpes      4.5      4.7
3     8203             Oyonnax  84.0  Auvergne-Rhône-Alpes      6.8      6.9
4     8204             Annonay  84.0  Auvergne-Rhône-Alpes      7.6      8.0
..     ...                 ...   ...                   ...      ...      ...
290   9403   Sartène-Propriano  94.0                 Corse     10.7     10.7
291   9404              Bastia  94.0                 Corse      9.2      8.9
292   9405  Calvi-L'Île-Rousse  94.0                 Corse     11.7     11.4
293   9406               Corte  94.0                 Corse      8.3      7.6
294   9407  Ghisonaccia-Aléria  94.0                 Corse      9.6      8.8

     2003-T3  2003-T4  2004-T1  2004-T2  ...  2018-T3  2018-T4  2019-T1  \
0        8.1      8.4      8.6      8.3  ...      8.7      8.3      8.4
1        5.6      6.0      6.2      6.0  ...      6.6      6.2      6.2
2        4.6      4.8      4.9      4.9  ...      6.7      6.4      6.4
3        7.2      7.7      7.8      7.5  ...      7.9      7.6      7.6
4        8.0      8.1      8.1      7.8  ...      8.6      8.2      8.2
..       ...      ...      ...      ...  ...      ...      ...      ...
290     10.4     10.0     10.5     10.4  ...     10.0     10.1     10.0
291      8.9      9.3      9.4      9.3  ...      9.4      9.2      9.2
292     11.2     11.4     11.2     11.5  ...     11.9     11.4     11.6
293      8.2      8.1      8.0      8.0  ...      8.6      7.8      8.2
294      9.0      9.4      9.6      9.7  ...     10.1      9.9     10.0

     2019-T2  2019-T3  2019-T4  2020-T1  Code               Libellé  \
0        8.1      8.3      8.0      7.7    84  Auvergne-Rhône-Alpes
1        6.1      6.3      6.0      5.8    84  Auvergne-Rhône-Alpes
2        6.3      6.5      6.2      5.9    84  Auvergne-Rhône-Alpes
3        7.4      7.4      7.3      7.2    84  Auvergne-Rhône-Alpes
4        7.9      7.9      7.7      7.3    84  Auvergne-Rhône-Alpes
..       ...      ...      ...      ...   ...                   ...
290      9.5      9.6      9.5      9.4    94                 Corse
291      8.8      8.5      8.2      7.9    94                 Corse
292     11.0     10.8     10.5     10.1    94                 Corse
293      7.6      7.3      7.1      7.3    94                 Corse
294      9.4      9.4      9.0      8.6    94                 Corse

     Pôle emploi 2018
0                 294
1                 294
2                 294
3                 294
4                 294
..                ...
290                31
291                31
292                31
293                31
294                31

[295 rows x 76 columns]

In [73]:
# Joindre les data et p_emploi au seins d’un seul et unique dataframe en faisant correspondre les régions par leur codes. 
# Utiliser pd.merge() pour réaliser cette jointure.

jointures = pd.merge(left=data, right=p_emploi, how='inner', left_on='REG', right_on='Code')
print(jointures)

    ZE2010           LIBZE2010   REG                LIBREG  2003-T1  2003-T2  \
0    0060*       Saint-Étienne  84.0  Auvergne-Rhône-Alpes      8.0      8.2
1     8201   Ambérieu-en-Bugey  84.0  Auvergne-Rhône-Alpes      5.7      5.8
2     8202     Bourg-en-Bresse  84.0  Auvergne-Rhône-Alpes      4.5      4.7
3     8203             Oyonnax  84.0  Auvergne-Rhône-Alpes      6.8      6.9
4     8204             Annonay  84.0  Auvergne-Rhône-Alpes      7.6      8.0
..     ...                 ...   ...                   ...      ...      ...
290   9403   Sartène-Propriano  94.0                 Corse     10.7     10.7
291   9404              Bastia  94.0                 Corse      9.2      8.9
292   9405  Calvi-L'Île-Rousse  94.0                 Corse     11.7     11.4
293   9406               Corte  94.0                 Corse      8.3      7.6
294   9407  Ghisonaccia-Aléria  94.0                 Corse      9.6      8.8

     2003-T3  2003-T4  2004-T1  2004-T2  ...  2018-T3  2018-T4  2019-T1  \
0        8.1      8.4      8.6      8.3  ...      8.7      8.3      8.4
1        5.6      6.0      6.2      6.0  ...      6.6      6.2      6.2
2        4.6      4.8      4.9      4.9  ...      6.7      6.4      6.4
3        7.2      7.7      7.8      7.5  ...      7.9      7.6      7.6
4        8.0      8.1      8.1      7.8  ...      8.6      8.2      8.2
..       ...      ...      ...      ...  ...      ...      ...      ...
290     10.4     10.0     10.5     10.4  ...     10.0     10.1     10.0
291      8.9      9.3      9.4      9.3  ...      9.4      9.2      9.2
292     11.2     11.4     11.2     11.5  ...     11.9     11.4     11.6
293      8.2      8.1      8.0      8.0  ...      8.6      7.8      8.2
294      9.0      9.4      9.6      9.7  ...     10.1      9.9     10.0

     2019-T2  2019-T3  2019-T4  2020-T1  Code               Libellé  \
0        8.1      8.3      8.0      7.7    84  Auvergne-Rhône-Alpes
1        6.1      6.3      6.0      5.8    84  Auvergne-Rhône-Alpes
2        6.3      6.5      6.2      5.9    84  Auvergne-Rhône-Alpes
3        7.4      7.4      7.3      7.2    84  Auvergne-Rhône-Alpes
4        7.9      7.9      7.7      7.3    84  Auvergne-Rhône-Alpes
..       ...      ...      ...      ...   ...                   ...
290      9.5      9.6      9.5      9.4    94                 Corse
291      8.8      8.5      8.2      7.9    94                 Corse
292     11.0     10.8     10.5     10.1    94                 Corse
293      7.6      7.3      7.1      7.3    94                 Corse
294      9.4      9.4      9.0      8.6    94                 Corse

     Pôle emploi 2018
0                 294
1                 294
2                 294
3                 294
4                 294
..                ...
290                31
291                31
292                31
293                31
294                31

[295 rows x 76 columns]

In [75]:
# Créer une colonne quantile dans p_emploi qui prendra les valeurs [‘q25’, ‘q50’, ‘q75’,‘q100’] en fonction du quartile auquel appartient le nombre de pôle emploi. 
# Pour se faire utiliser « pd.qcut() ».
    
jointures['quantile'] = pd.qcut(jointures["Pôle emploi 2018"], 4, labels=['q25', 'q50', 'q75', 'q100'])

print(jointures)

    ZE2010           LIBZE2010   REG                LIBREG  2003-T1  2003-T2  \
0    0060*       Saint-Étienne  84.0  Auvergne-Rhône-Alpes      8.0      8.2
1     8201   Ambérieu-en-Bugey  84.0  Auvergne-Rhône-Alpes      5.7      5.8
2     8202     Bourg-en-Bresse  84.0  Auvergne-Rhône-Alpes      4.5      4.7
3     8203             Oyonnax  84.0  Auvergne-Rhône-Alpes      6.8      6.9
4     8204             Annonay  84.0  Auvergne-Rhône-Alpes      7.6      8.0
..     ...                 ...   ...                   ...      ...      ...
290   9403   Sartène-Propriano  94.0                 Corse     10.7     10.7
291   9404              Bastia  94.0                 Corse      9.2      8.9
292   9405  Calvi-L'Île-Rousse  94.0                 Corse     11.7     11.4
293   9406               Corte  94.0                 Corse      8.3      7.6
294   9407  Ghisonaccia-Aléria  94.0                 Corse      9.6      8.8

     2003-T3  2003-T4  2004-T1  2004-T2  ...  2018-T4  2019-T1  2019-T2  \
0        8.1      8.4      8.6      8.3  ...      8.3      8.4      8.1
1        5.6      6.0      6.2      6.0  ...      6.2      6.2      6.1
2        4.6      4.8      4.9      4.9  ...      6.4      6.4      6.3
3        7.2      7.7      7.8      7.5  ...      7.6      7.6      7.4
4        8.0      8.1      8.1      7.8  ...      8.2      8.2      7.9
..       ...      ...      ...      ...  ...      ...      ...      ...
290     10.4     10.0     10.5     10.4  ...     10.1     10.0      9.5
291      8.9      9.3      9.4      9.3  ...      9.2      9.2      8.8
292     11.2     11.4     11.2     11.5  ...     11.4     11.6     11.0
293      8.2      8.1      8.0      8.0  ...      7.8      8.2      7.6
294      9.0      9.4      9.6      9.7  ...      9.9     10.0      9.4

     2019-T3  2019-T4  2020-T1  Code               Libellé  Pôle emploi 2018  \
0        8.3      8.0      7.7    84  Auvergne-Rhône-Alpes               294
1        6.3      6.0      5.8    84  Auvergne-Rhône-Alpes               294
2        6.5      6.2      5.9    84  Auvergne-Rhône-Alpes               294
3        7.4      7.3      7.2    84  Auvergne-Rhône-Alpes               294
4        7.9      7.7      7.3    84  Auvergne-Rhône-Alpes               294
..       ...      ...      ...   ...                   ...               ...
290      9.6      9.5      9.4    94                 Corse                31
291      8.5      8.2      7.9    94                 Corse                31
292     10.8     10.5     10.1    94                 Corse                31
293      7.3      7.1      7.3    94                 Corse                31
294      9.4      9.0      8.6    94                 Corse                31

     quantile
0        q100
1        q100
2        q100
3        q100
4        q100
..        ...
290       q25
291       q25
292       q25
293       q25
294       q25

[295 rows x 77 columns]

In [ ]:
Créer une colonne quantile dans p_emploi qui prendra les valeurs [‘q25’, ‘q50’, ‘q75’,
‘q100’] en fonction du quartile auquel appartient le nombre de pôle emploi. Pour se faire
utiliser « pd.qcut() ».
• Générer un pivot d

In [ ]:
Créer une colonne quantile dans p_emploi qui prendra les valeurs [‘q25’, ‘q50’, ‘q75’,
‘q100’] en fonction du quartile auquel appartient le nombre de pôle emploi. Pour se faire
utiliser « pd.qcut() ».
• Générer un pivot d

In [ ]:
Créer une colonne quantile dans p_emploi qui prendra les valeurs [‘q25’, ‘q50’, ‘q75’,
‘q100’] en fonction du quartile auquel appartient le nombre de pôle emploi. Pour se faire
utiliser « pd.qcut() ».
• Générer un pivot d

In [77]:
pd.pivot_table(jointures, values='2020-T1', index='LIBREG', columns='quantile')

quantile                         q25       q50       q75      q100
LIBREG
Auvergne-Rhône-Alpes             NaN       NaN       NaN  6.728571
Bourgogne-Franche-Comté          NaN  6.565217       NaN       NaN
Bretagne                    6.661111       NaN       NaN       NaN
Centre-Val-de-Loire         7.684211       NaN       NaN       NaN
Corse                       8.514286       NaN       NaN       NaN
Grand-Est                        NaN       NaN  7.264516       NaN
Hauts-de-France                  NaN  9.911538       NaN       NaN
Ile-de-France                    NaN  6.794737       NaN       NaN
Normandie                   7.150000       NaN       NaN       NaN
Nouvelle-Aquitaine               NaN       NaN  7.293548       NaN
Occitanie                        NaN       NaN       NaN  9.603333
Pays de la Loire            6.563158       NaN       NaN       NaN
Provence-Alpes-Côte d'Azur  8.864706       NaN       NaN       NaN